@import 'basic';

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.title-block {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 85%;

  .input-block {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    position: relative;

    .input-todo {
      width: 400px;
    }

    .date-todo-end {
      width: 300px;
    }

    .time-todo-end {
      width: 300px;
    }

    .btn-add {
      background-color: rgb(42, 228, 218);
      &:hover {
        background-color: darken(rgb(42, 228, 218), 10);
      }
    }

    .span-wrap {
      position: relative;
    }

    .error-message {
      display: none;
      font-size: 60px;
      bottom: 50px;
      left: 0;
      position: absolute;
      color: red;
    }
  }

  .output-block {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

    .output-row {
      height: 140px;
      display: grid;
      width: 80%;
      grid-template-columns: 5% 5% 50% 5% 5% 15% 15%;
      justify-content: center;
      align-items: center;
      border: 1px solid #e0e0e0;

      .output-cheking {
        padding: 0 0 0 10px;

        img {
          height: 50px;
          width: 50px;
        }
      }

      .output-edit {
        padding: 0;
        font-size: 32px;
      }

      .output-rest-time {
        height: 102px;
        width: 10px;
        border: 1px solid #000;
        background-image: url(../img/bg_image.png);
        background-position: 0 0;
        overflow: hidden;
      }

      .btn-done {
        background-color: rgb(54, 218, 90);
        &:hover {
          background-color: darken(rgb(54, 218, 90), 10);
        }
      }

      .btn-delete {
        background-color: rgb(235, 20, 20);
        &:hover {
          background-color: darken(rgb(235, 20, 20), 10);
        }
      }
    }
  }
}
