* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    width: 100%;
    height: 100%;
}

html {
    font-size: 18px;
}

body {
    background-color: #69afe9e9;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    transition: transform 0.15s;
}

.button-disabled {
    cursor: unset;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
    max-width: 350px;
    user-select: none;
}

@media screen and (max-width: 920px) { 
    .container {
        width: 80%;
    }
}

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 175px;
    min-height: 120px;
    padding: 15px;
    background-color: #fff;
}

.card {
  border-radius: 20px;
    background: rgb(212,212,212) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow: inset   rgba(82, 90, 94, 0.6) 0 -3px 8px, 
                inset   rgba(252,255,255,.7) 0 3px 8px, 
                        rgba(54, 60, 113, 0.8) 0 3px 8px -3px;  
}

.new-user-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-button {
    width: 125px;
    padding: 5px 3px;
}

.autorisation-input {
    max-width: 175px;
    height: 30px;
    padding: 5px;
}

.app-choice .card,
.autorisation .card {
    cursor: pointer;
}

.learn-foreign-transcription {
    margin-top: 10px;
    color: #6b6b6b;
    font-size: 0.8em;
}

.learn-foreign-transcription::before {
    content: '[ '
}

.learn-foreign-transcription::after {
    content: ' ]'
}

.control-buttons-wrapper-height-saver {
    height: 100px;
    width: 100%;
}

.control-buttons-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button,
.setting-group-image-wrapper {
    position: relative;
    border: none;
    font-size: 0.5em;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    max-height: 70px;
    max-width: 70px;
    padding: 6px;
}

.button:active {
    background-color: #fff;
}

.button:disabled {
    transform: translateY(0px);
    background-color: #cccccc95;
}

.header-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button-wrapper .button {
    max-height: 40px;
    max-width: 40px;
    background-color: #fff;
}

.button img {
    width: 100%;
    height: 100%;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

/* .settings__wrap-for-style {
    display: flex;
    justify-content: space-between;
} */

.setting-group {
    min-height: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}

.setting-group-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: 20px;
}

.setting-group-line {
    border-top: 1px solid #555;
    flex-grow: 1;
}

.setting-group-image-wrapper {
    height: 40px;
    width: 40px;
    padding: 5px;
    position: relative;
    top: -20px;
    background-color: #fff;
}

.setting-group-image {
    width: 100%;
    height: 100%;
}

.setting-group .simple-button {
    margin-left: 20px;
}

.settings__order {
    display: flex;
    flex-direction: column;
}

.settings__range {
    display: flex;
    flex-direction: column;
}

.point-input-way {
    width: 30px;
    display: inline-block;
}

.point-input-text {
    width: 45px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.settings-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    align-self: center;
}

.settings-button img {
    width: 100%;
    height: 100%;
}

.practice-foreign-input {
    font-size: 1em;
    border: none;
    outline:none;
    text-align: start;
    resize: none;
    background-color: transparent;
    width: 100%;
    padding-left: 20px;
}

.practice-foreign-input::placeholder {
    color: #ccccccac;
}

.js-hide {
    display: none;
}

.opacity-hide {
    opacity: 0;
}

.small-size-js {
    font-size: 24px;
}