* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    width: 100%;
    height: 100%;
}

html {
    font-size: 32px;
}



body {
    background-color: #88bcf498;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
    max-width: 350px;
}

@media screen and (max-width: 920px) { 
    .container {
        width: 80%;
    }
}

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    min-height: 160px;
    padding: 0 50px;
    border-radius: 20px;
    background: rgb(212,212,212) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow: inset   rgba(82, 90, 94, 0.6) 0 -3px 8px, 
                inset   rgba(252,255,255,.7) 0 3px 8px, 
                        rgba(54, 60, 113, 0.8) 0 3px 8px -3px;
}

.app-choice .card {
    cursor: pointer;
}

.learn-foreign-transcription {
    margin-top: 10px;
    color: #6b6b6b;
    font-size: 0.55em;
}

.learn-foreign-transcription::before {
    content: '[ '
}

.learn-foreign-transcription::after {
    content: ' ]'
}

.buttons-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    position: relative;
    border: none;
    cursor: pointer;
    font-size: 0.5em;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    transition: transform 0.15s;
    max-height: 70px;
    max-width: 70px;
    padding: 6px;
}

.button:active {
    transform: translateY(4px);
    background-color: #fff;
}

.button:disabled {
    transform: translateY(0px);
    background-color: #cccccc95;
}

.header-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-button-wrapper .button {
    max-height: 50px;
    max-width: 50px;
    background-color: #fff;
}

.button img {
    width: 100%;
    height: 100%;
}

.practice-foreign-input {
    font-size: 1em;
    border: none;
    outline:none;
}

.practice-foreign-input::placeholder {
    color: #ccccccac;
}

.js-hide {
    display: none;
}

.opacity-hide {
    opacity: 0;
}

.small-size-js {
    font-size: 24px;
}