.main-about {  
  color: #1D1D1F;
}

.our-our {
  padding: 120px 0 115px;
}

.our-smth-wrapper + .our-smth-wrapper {
  margin-top: 100px;
}

.our-title {
font-weight: bold;
font-size: 70px;
line-height: 120%;
letter-spacing: 0.05em;
margin-bottom: 35px;
}

.our-content {
  margin-left: 100px;
}

.mini-our-content {
  margin: 0 auto;
  width: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-our-content .our-text {
  text-align: center;
}

.our-text {
  font-weight: 500;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

.our-image-wrapper {
  width: 370px;
  height: 420px;
  box-shadow: -3px -4px #d2aa1b, 2px 4px #000;
  margin-bottom: 35px;
  overflow: hidden;
}

.our-image {  
  width: 100%;
  height: 100%;
}

.our-values.inner {
  margin-left: 60px;
}

.our-value-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  line-height: 200%; 
  letter-spacing: 0.05em;
}

.address {
  margin-bottom: 80px;
  overflow-x: hidden;
}

.address-container-outer {
  height: 800px;
  background-image: url("../img/map.jpg");
  background-position: center;
}

.address-container-inner {
  padding: 60px 0;
}

.contacts-block {
  width: 300px;
  height: 420px;
  border: 2px solid #1D1D1F;
  background-color: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-wrapper + .data-wrapper {
  margin-top: 25px;
}

.data-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
}

.data-value {
  margin-top: 5px;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.05em;
}

.social-links-wrapper .foot-social.social-nav svg {
  stroke: #1D1D1F;
}

.social-links-wrapper .foot-social.social-nav svg:hover {
  stroke: #ffc11e;
}

.address-book-button {
  width: 500px;
  height: 120px;
  margin-top: 50px;
  padding: 0 60px 0 55px;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 70px;
  line-height: 120%; 
  letter-spacing: 0.05em;
  color: #FFC11E;
}

.address-book-button__image-wrapper {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.address-book-button__image-wrapper img {
  width: 100%;
}




/* ------------------------------------------------------------------------------------ */

  @media (max-width: 1169px) {

.our-our {
  padding: 120px 0 85px;
}

.our-our__conainer {
  padding: 0 24px;
}

.our-smth-wrapper + .our-smth-wrapper {
  margin-top: 80px;
}

.our-title {
font-size: 50px;
margin-bottom: 20px;
}

.mini-our-content {
  width: 470px;
}

.our-text {
  font-size: 25px;
}

.our-image-wrapper {
  width: 220px;
  height: 300px;
  margin-bottom: 40px;
}

.our-values.inner {
  margin-left: 50px;
}

.our-value-item {
  font-size: 25px;
}

.address {
  margin-bottom: 200px;
  }

.address-container-outer {
  height: 720px;
}

.address-container-inner {
  padding: 60px 24px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-book-button {
  width: 222px;
  height: 80px;
  padding: 18px;
  font-size: 37px;
  align-self: center; 
}

.address-book-button__image-wrapper {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
  
  }
  
  
  /* ------------------------------------------------------------------------------------ */
  
  @media (max-width: 767px) {
  
  
.our-our {
  padding: 60px 0;
}

.our-our__conainer {
  padding: 0 15px;
}

.our-smth-wrapper + .our-smth-wrapper {
  margin-top: 50px;
}

.our-title {
font-size: 35px;
margin-bottom: 18px;
}

.our-content {
  margin-left: 0;
}

.mini-our-content {
  width: 290px;  
}

.our-text {
  font-size: 20px;  
}

.our-image-wrapper {
  width: 290px;
  height: 340px;
  margin-bottom: 20px;
}

.our-image {  
  width: 100%;
  height: 100%;
}

.our-values.inner {
  margin-left: 38px;
}

.our-value-item {
  font-size: 20px; 
}

.address {
  margin-bottom: 120px;
}

.address-container-outer {
  height: 520px;
  background-image: url("../img/map.jpg");
}

.address-container-inner {
  padding: 20px 15px;
  justify-content: flex-end;
}

.contacts-block {
  display: none;
}

.address-book-button {
  width: 290px;
  height: 80px;
  padding: 18px 40px; 
  font-size: 37px;
}
  
  }
  