.footer {
  background-color: #1d1d1f;
  color: #ccc;
  padding: 67px 0 25px;
}

.footer__menu {
  display: flex;
}

.footer__menu-wrap .menu-wrap-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
}

.footer__menu-wrap + .footer__menu-wrap {
  margin-left: 140px;
}

.footer .menu-contacts .nav-item + .nav-item {
  margin-top: 30px;
}

.footer .menu-contacts .nav-item-link {
  display: flex;
}

.footer .menu-contacts .nav-item-link-text {
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 120%;
  width: 200px;
}

.footer .menu-nav .nav-item + .nav-item {
  margin-top: 5px;
}

.footer .menu-nav .nav-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
}

.foot-social .social-nav-item-link svg {
  stroke: #fff;
}

.foot-social .social-nav-item-link svg:hover {
  stroke: #ffc11e;
}

.footer__privacy {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 70px;
}

.footer__privacy-logo-link {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 120%;
}

.footer__privacy-nav {
  font-family: Lato;
}

.footer__privacy-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.footer__privacy-nav-link + .footer__privacy-nav-link {
  margin-left: 25px;
}



/* ------------------------------------------------------------------------------------ */

  @media (max-width: 1169px) {

    .footer {
      padding: 0 24px 30px;
    }

    .footer__menu {
      flex-wrap: wrap;
    }

    .footer__menu-wrap {
      margin-top: 50px;
      width: 50%;
    }

    .footer__menu-wrap + .footer__menu-wrap {
      margin-left: 0;
    }

    .footer__privacy {     
      margin-top: 75px;
    }
 
    .footer__privacy-logo {
      display: none;
    }

    .footer__privacy-nav {
      margin: 0 auto;
    }
  
  }
  
  
  /* ------------------------------------------------------------------------------------ */
  
  @media (max-width: 767px) {
  
    .footer {
      padding: 15px;
    }

    .footer__menu {
      padding-right: 40px;
    }

    .footer__menu-wrap {
      width: 50%;
      margin-top: 0;
    }

    .footer .menu-wrap-title {
      font-size: 20px;
    }

    .menu-wrap-title-links {
      text-align: right;
    }

    .footer .menu-contacts .nav-item-link-text {
      font-size: 15px;
    }

    .footer .menu-nav .nav-item {
      text-align: right;
    }

    .footer .menu-nav .nav-item-link {
      font-size: 20px;
    }

    .footer__menu-wrap + .footer__menu-wrap {
      margin-left: 0;
    }

    .footer .menu-wrap-title-follow {
      margin-top: 30px;
      font-size: 25px;
    }

    .footer .footer__privacy-nav-link {     
      margin-top: 45px;
      font-size: 15px;
    }
  
  }
  