.header {
  height: 100px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-button-wrapper,
.mobile-book-button-wrapper {
  display: none;
}

.mobile-menu-button,
.mobile-book-button {
  background-color: transparent;
  border: none;
}

.header__logo-link {
  font-family: "Tradesmith";
  font-weight: 400;
  font-size: 45px;
  line-height: 120%;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone-social {
  display: flex;
}

.head__phone {
  font-size: 25px;
  line-height: 120%;
  margin-right: 77px;
}

.head-phone-number + .head-phone-number {
  margin-left: 20px;
}

.social-nav {
  display: flex;
}

.social-nav-item:not(:last-child) {
  margin-right: 18px;
}

.social-nav-item-link svg {
  stroke: #1d1d1f;
}

.social-nav-item-link svg:hover {
  stroke: #ffc11e;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 120%;
}

.header__nav-link:hover {
  text-decoration: underline;
}

.header__nav .nav-item:not(:last-child) {
  margin-right: 77px;
}

.header__nav .active-page-link {
  color: #ccc;
}

/* ------------------------------------------------------------------------------------ */

@media (max-width: 1169px) {

  .header {
    height: 60px;
    padding: 0 24px;
  }
  
  .mobile-menu-button-wrapper,
  .mobile-book-button-wrapper {
    display: block;
    height: 40px;
    width: 40px;
  }

  .header__logo-link {    
    font-size: 35px;    
  }

  .header__menu {
    display: none;
  }

}


/* ------------------------------------------------------------------------------------ */

@media (max-width: 767px) {

  .header {
    height: 40px;
    padding: 0 15px;
  } 

  .mobile-menu-button-wrapper,
  .mobile-book-button-wrapper {
    height: 24px;
    width: 24px;
  }

  .mobile-menu-img,
  .mobile-book-img {
    width: 100%;
  }

  .header__logo-link {    
    font-size: 20px;    
  }


}
