/* @import url("./fonts.css"); */

.main-index {
  padding-bottom: 125px;
}

/* more info */
.more-info-container {
  display: flex;
}

.more-info__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 90px 0 230px;
  gap: 30px;
}

.more-info__wrap {
  width: 264px;
}

.more-info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  color: #1d1d1f;
}

.more-info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  color: #676767;
  margin-top: 6px;
}

.more-info-picture {
  margin: -16px 0 0 36px;
  z-index: 2;
}

.more-info-image {
  box-shadow: -3px -4px #d2aa1b, 2px 4px #000;
}

/* services */
.services .container-fluid {
  overflow: hidden;
}

.services__title {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #1d1d1f;
  text-transform: uppercase;
}

.services__gallery {
  position: relative;
  margin-top: 54px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(86, 10px);
  -webkit-column-gap: 130px;
  -moz-column-gap: 130px;
  column-gap: 130px;
}

.services__gallery-picture {
  position: relative;
  width: 270px;
  height: 270px;
}

.services__gallery-picture:nth-child(1) {
  grid-row-start: 8;
  grid-column-start: 1;
}

.services__gallery-picture:nth-child(1) .services__img-title {
  right: -86px;
}

.services__gallery-picture:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
}

.services__gallery-picture:nth-child(2) .services__img-title {
  right: -42px;
}

.services__gallery-picture:nth-child(3) {
  grid-row-start: 15;
  grid-column-start: 3;
}

.services__gallery-picture:nth-child(3) .services__img-title {
  right: -85px;
}

.services__gallery-picture:nth-child(4) {
  grid-row-start: 50;
  grid-column-start: 1;
}

.services__gallery-picture:nth-child(4) .services__img-title {
  right: -75px;
}

.services__gallery-picture:nth-child(5) {
  grid-row-start: 38;
  grid-column-start: 2;
}

.services__gallery-picture:nth-child(5) .services__img-title {
  right: -85px;
}

.services__gallery-picture:nth-child(6) {
  grid-row-start: 59;
  grid-column-start: 3;
}

.services__gallery-picture:nth-child(6) .services__img-title {
  right: -118px;
}

.services__img-border-black {
  position: absolute;
  width: 216px;
  height: 216px;
  top: 29px;
  left: 27px;
  background-color: transparent;
  border: 1px solid #000;
  z-index: 2;
}

.services__img-border-grey {
  position: absolute;
  width: 216px;
  height: 216px;
  top: 27px;
  left: 27px;
  background-color: transparent;
  border: 1px solid #676767;
  z-index: 3;
}

.services__img-title {
  position: absolute;
  bottom: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #ffc11e;
  text-shadow: 0 2px #000;
  z-index: 4;
}

.services__bg-word {
  position: absolute;
  font-family: Tradesmith;
  font-style: normal;
  font-weight: normal;
  font-size: 280px;
  line-height: 120%;
  color: rgba(28, 30, 46, 0.09);
  z-index: -1;
}

.services__bg-hamon {
  left: 754px;
  bottom: 289px;
}

.services__bg-felt {
  right: 131px;
  bottom: -48px;
}

/* team */
.our-team {
  margin-top: 230px;
  padding: 60px 0 20px;
  background-color: #1d1d1f;
}
.our-team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #fff;
}

.our-team .team-slider {
  margin-top: 55px;
}

.our-team__swiper-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.our-team__character-wrap {
  width: 370px;
  height: 321px;
  border: 4px solid #ffc11e;
  position: relative;
  background-color: transparent;
}

.our-team__character-img {
  position: absolute;
  display: block;
  top: -4px;
  left: -2px;
  bottom: -3px;
  z-index: 1;
}

.our-team__character-name {
  position: absolute;
  top: 20px;
  left: 168px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 2px 2px 0px #d2aa1b;
  z-index: 2;
}

.our-team__character-job {
  position: absolute;
  bottom: 3px;
  left: 196px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #ffc11e;
  text-shadow: 0.5px 2px 0px #1d1d1f;
  z-index: 2;
}

.our-team .teamSwiper {
  padding-bottom: 30px;
}

.our-team .teamSwiper-pagination {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 80px;
  position: static;
}

.teamSwiper-pagination .swiper-pagination-bullet + .teamSwiper-pagination .swiper-pagination-bullet {
  margin-right: 40px;
}

.our-team .swiper-pagination-bullet {
  width: 120px;
  height: 70px;
  border-radius: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.05em;
  position: relative;
  opacity: 1;
}

.our-team .swiper-pagination-bullet:hover {
  background-color: #D2AA1B;
  color: #000;
}

.our-team .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  bottom: -5px;
  right: -4px;
  border: 2px solid #d2aa1b;
  z-index: -5;
}

.our-team .swiper-pagination-bullet-active {
  box-shadow: 0px 4px 10px 2px #d2aa1b, inset 0px 4px 10px 2px #d2aa1b;
}

.our-team .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 40px;
}

/* gallery */
.gallery {
  margin-top: 150px;
}

.gallery__interiers {
  display: grid;
  grid-template-rows: repeat(75, 20px);
  grid-template-columns: repeat(1117, 10px);
}

.gallery__img:nth-child(1) {
  grid-row: 1 / 23;
  grid-column: 1 / 38;
}

.gallery__img:nth-child(2) {
  grid-row: 1 / 13;
  grid-column: 41 / 65;
}

.gallery__img:nth-child(3) {
  grid-row: 1 / 13;
  grid-column: 71 / 118;
}

.gallery__img:nth-child(4) {
  grid-row: 24 / 40;
  grid-column: 1 / 38;
}

.gallery__img:nth-child(5) {
  grid-row: 14 / 40;
  grid-column: 41 / 65;
}

.gallery__img:nth-child(6) {
  grid-row: 14 / 40;
  grid-column: 71 / 118;
}

.gallery__img:nth-child(7) {
  grid-row: 41 / 58;
  grid-column: 1 / 58;
}

.gallery__img:nth-child(8) {
  grid-row: 41 / 58;
  grid-column: 61 / 118;
}

.gallery__img:nth-child(9) {
  grid-row: 59 / 76;
  grid-column: 1 / 118;
}

/* social links */
.social-links {
  margin-top: 100px;
}

.social-links__item + .social-links__item {
  margin-top: 26px;
}

svg + .social-links__link-span {
  margin-left: 30px;
}

.social-links__link svg {
  stroke: #ccc;
  fill: #ccc;
}

.social-links__link:hover svg {
  stroke: #ffc11e;
  fill: #ffc11e;
}

.social-links__link:hover .social-links__link-span {
  color: #ffc11e;
}

.social-links__link-span {
  font-family: Tradesmith;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

/* form & background */
.book-now {
  margin-top: 150px;
  overflow-x: hidden;
}

/* .book-now__container {
  overflow-x: hidden;
} */

.book-form-bg-wrapper {
  display: flex;
}

.book-now__title {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #1d1d1f;
}

.book-now__form {
  margin: 16px 0 0 100px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 570px;
  flex-shrink: 0;
}

.book-now__form input {
  margin-bottom: 20px;
  height: 60px;
  padding-left: 24px;
}

.book-now__form input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
}

.book-now__form input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
}

.book-now__form input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
}

.book-now__form textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
}

.book-now__form textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
}

.book-now__form input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.book-now__form input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.book-now__form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.book-now__form textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.book-now__form .book-now__input-text {
  width: 100%;
}

.book-now__form .book-now__sex {
  width: 170px;
}

.radiobutton-sex {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.radiobutton-sex_span {
  display: block;
  min-height: 60px;
  min-width: 170px;
  text-align: center;
  line-height: 60px;
  font-family: SairaExtraCondensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ccc;
  border: 1px solid #000;    
}

.radiobutton-sex:checked + .radiobutton-sex_span {
	background-color: #FFC11E;
  border: 1px solid #FFC11E;
  color: #fff;
}

.book-now__form .book-now__textarea {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  resize: none;
  padding-left: 24px;
  padding-top: 12px;
}

.book-now__bg-word {
  font-family: Tradesmith;
  font-style: normal;
  font-weight: normal;
  font-size: 170px;
  line-height: 120%;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.13);
}

.book-now__form input:hover::placeholder,
.book-now__form textarea:hover::placeholder,
.radiobutton-sex_span:hover {
  color: #000;
  transition: color 0.3s ease;
}

.book-now__bg-text {
  margin-left: 30px;
  padding-top: 50px;
  width: 830px;
  position: relative;
  flex-shrink: 0;
  overflow-x: hidden;  
}

.book-now__bg-word {
  position: absolute;
  text-align: center;
  padding-left: 150px;
}

.book-now__img {
  position: absolute;
  bottom: 80px;
  left: 0;
}

/* comments */
.comments {
  margin-top: 150px;
  width: 100%;
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.comments__wrapper {
  height: 400px;
  width: 370px;
  padding: 35px 30px;
  border: 3px solid #676767;
}

.comment__author {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #1D1D1F;
}

.comment__text {
  margin-top: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #676767;
}

/* phrase */
.phrase {
  margin-top: 100px;
}

.phrase-text {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120%;  
  letter-spacing: 0.05em;
  color: #1D1D1F;
  text-align: center;
}


/* ------------------------------------------------------------------------------------ */

  @media (max-width: 1169px) {

    .main-index {
      padding-bottom: 120px;
    }

    .more-info__block {
      margin: 0 auto;   
      padding: 72px 24px 80px;
      gap: 0;
    }

    .more-info__wrap {
      width: 220px;
    }

    .more-info-title {
      font-size: 35px;
    }

    .more-info-text {
      font-size: 20px;
    }

    .more-info-picture {
      display: none;
    }

    /* services */
    .services {
      padding: 0 24px;
    }

    .services .container-fluid {
      overflow: visible;
    }
    
    .services__title {
      font-size: 50px;
    }

    .services__gallery {
      position: relative;
      margin-top: 40px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(36, 20px);
      grid-template-rows: repeat(39, 20px);
      column-gap: 0;
    }
    
    .services__gallery-picture {
      position: relative;
      height: 220px;
      width: 220px;
    }

    .services__img {
      width: 100%;
      object-fit: fill;
    }

    .services__img-title {      
      bottom: 19px;
      right: 0;    
    }
    
    .services__gallery-picture:nth-child(1) {
      grid-row: 1 / 12;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(1) .services__img-title {
      left: 100px;
    }
    
    .services__gallery-picture:nth-child(2) {
      grid-row: 1 / 12;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(2) .services__img-title {
      left: 178px;
    }
    
    .services__gallery-picture:nth-child(3) {
      grid-row: 15 / 26;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(3) .services__img-title {
      left: 158px;
    }
    
    .services__gallery-picture:nth-child(4) {
      grid-row: 15 / 26;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(4) .services__img-title {
      left: 130px;
    }
    
    .services__gallery-picture:nth-child(5) {
      grid-row: 29 / 40;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(5) .services__img-title {
      left: 142px;
    }
    
    .services__gallery-picture:nth-child(6) {
      grid-row: 29 / 40;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(6) .services__img-title {
      left: 130px;
    }
    
    .services__img-border-black {
      width: 174px;
      height: 174px;
      top: 23px;
      left: 22px;
    }
    
    .services__img-border-grey {
      width: 174px;
      height: 174px;
      top: 22px;
      left: 22px;
    }  
    
    .services__bg-word {      
      font-size: 200px;     
    }
    
    .services__bg-hamon {
      left: -24px;
      top: 170px;
      right: 0;
      bottom: 0;
    }
    
    .services__bg-felt {
      left: -24px;      
      top: 412px;
      right: 0;
      bottom: 0;
    }

    /* our-team */
    .our-team {
      margin-top: 100px;
      padding-top: 50px;
      background-color: #1d1d1f;
    }
    .our-team__title {  
      font-size: 50px;
      margin-left: 24px;
    }
    
    .our-team .team-slider {
      margin-top: 50px;
      padding: 0 20px;
    }
    
    .our-team__swiper-wrap {
      gap: 0;
    }
    
    .our-team__character-wrap {
      width: 200px;
      height: 265px;
    }
    
    .our-team__character-img {
      width: 100%;
      top: 0;
      left: -2px;
      bottom: -4px;
      z-index: 1;
    }
    
    .our-team__character-name {
      left: 125px;     
      font-size: 32px;      
    }
    
    .our-team__character-job {      
      left: 125px;      
      font-size: 25px;      
    }
    
    .our-team .teamSwiper {
      padding-bottom: 0;
    }
    
    .our-team .teamSwiper-pagination {
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      margin-top: 95px;
      padding-bottom: 80px;
      position: static;
    }
    
    .teamSwiper-pagination .swiper-pagination-bullet + .teamSwiper-pagination .swiper-pagination-bullet {
      margin-right: 40px;
    }
    
    .our-team .swiper-pagination-bullet {
      width: 120px;
      height: 70px;
      border-radius: 0;
      border: 2px solid #ffffff;
      background-color: transparent;
      color: #fff;
      text-align: center;
      line-height: 70px;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: 0.05em;
      position: relative;
      opacity: 1;
    }
    
    .our-team .swiper-pagination-bullet:hover {
      background-color: #D2AA1B;
      color: #000;
    }
    
    .our-team .swiper-pagination-bullet::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 0px;
      bottom: -5px;
      right: -4px;
      border: 2px solid #d2aa1b;
      z-index: -5;
    }
    
    .our-team .swiper-pagination-bullet-active {
      box-shadow: 0px 4px 10px 2px #d2aa1b, inset 0px 4px 10px 2px #d2aa1b;
    }
    
    .our-team .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 40px;
    }

    /* gallery */
    .gallery {
      margin-top: 70px;
      min-width: 768px;
    }

    .gallery__container {
      padding: 0 24px;
    }
    
    .gallery__interiers {
      display: grid;
      grid-template-columns: repeat(72, 10px);
      grid-template-rows: repeat(50, 20px);
    }
    
    .gallery__img:nth-child(1) {
      height: 260px;
      width: 220px;
      grid-column: 1 / 23;
      grid-row: 1 / 14;
    }
    
    .gallery__img:nth-child(2) {
      height: 200px;
      width: 220px;
      grid-column: 26 / 48;
      grid-row: 1 / 11;
    }
    
    .gallery__img:nth-child(3) {
      height: 200px;
      width: 220px;
      grid-column: 51 / 73;
      grid-row: 1 / 11;
    }
    
    .gallery__img:nth-child(4) {
      height: 200px;
      width: 220px;
      grid-column: 1 / 23;
      grid-row: 15 / 25;
    }
    
    .gallery__img:nth-child(5) {
      height: 260px;
      width: 220px;
      grid-column: 26 / 48;
      grid-row: 12 / 25;
    }
    
    .gallery__img:nth-child(6) {
      height: 260px;
      width: 220px;
      grid-column: 51 / 73;
      grid-row: 12 / 25;
    }
    
    .gallery__img:nth-child(7) {
      height: 240px;
      width: 345px;
      grid-column: 1 / 35;
      grid-row: 26 / 38;
    }
    
    .gallery__img:nth-child(8) {
      height: 240px;
      width: 345px;
      grid-column: 39 / 73;
      grid-row: 26 / 38;
    }
    
    .gallery__img:nth-child(9) {
      height: 240px;
      width: 720px;
      grid-column: 1 / 73;
      grid-row: 39 / 51;
    } 
    
    .book-now__bg-text {
      display: none;
    }

    /* social links */
    .social-links {
      margin-top: 40px;
      padding-left: 50px;
    }

    .social-links__link-span {      
      font-size: 35px;      
    }

    /* book-now */
    .book-now {
      margin-top: 100px;
      padding-left: 24px;
    }

    .book-now__title {
      font-size: 50px;
    }
      
    .book-now__form {
      margin-top: 20px;      
      width: 558px;      
    }
    
    .book-now__form .book-now__sex {
      width: 166px;
    }

    .radiobutton-sex_span {     
      min-width: 166px;    
    }

    /* comments */
    .comments {
      margin-top: 70px;
    }    
   
    .comments__container {
      padding: 0 24px;
    }
    
    .comments__wrapper {
      height: 360px;
      width: 345px;
      padding: 25px 20px;
    }
    
    .comment__author {      
      font-size: 30px;
    }
    
    .comment__text {
      margin-top: 10px;
      font-size: 22px;
    }

    /* phrase */
    .phrase {
      margin-top: 75px;
    }


  }
  
  
  /* ------------------------------------------------------------------------------------ */
  
  @media (max-width: 767px) {

    .main-index {
      padding-bottom: 50px;
    }
    
    /* more info */
    .more-info-container {
      padding: 50px 15px;
    }
    
    .more-info__block {
      width: 100%;
      flex-direction: column;
      padding: 0;
      gap: 25px;
    }
    
    .more-info__wrap {
      width: 220px;
    }
    
    .more-info-title {     
      font-size: 35px;     
    }
    
    .more-info-text {     
      font-size: 20px;    
      margin-top: 0;
    }
    
    
    /* services */
    .services__title {
      font-size: 35px;     
    }
    
    .services__gallery {     
      margin-top: 10px;
      padding-left: 0;

      /* grid-template-columns: repeat(36, 20px);
      grid-template-rows: repeat(39, 20px); */
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    
    .services__gallery-picture {
      position: relative;
      width: 135px;
      height: 135px;
    }

    /* .services__gallery-picture:nth-child(1) .services__img-title {
      right: 0;
    }



    .services__gallery-picture {
      position: relative;
      height: 220px;
      width: 220px;
    }

    .services__img {
      width: 100%;
      object-fit: fill;
    }

    .services__img-title {      
      bottom: 19px;
      right: 0;    
    }
    
    .services__gallery-picture:nth-child(1) {
      grid-row: 1 / 12;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(1) .services__img-title {
      left: 100px;
    }
    
    .services__gallery-picture:nth-child(2) {
      grid-row: 1 / 12;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(2) .services__img-title {
      left: 178px;
    }
    
    .services__gallery-picture:nth-child(3) {
      grid-row: 15 / 26;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(3) .services__img-title {
      left: 158px;
    }
    
    .services__gallery-picture:nth-child(4) {
      grid-row: 15 / 26;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(4) .services__img-title {
      left: 130px;
    }
    
    .services__gallery-picture:nth-child(5) {
      grid-row: 29 / 40;
      grid-column: 1 / 12;
    }
    
    .services__gallery-picture:nth-child(5) .services__img-title {
      left: 142px;
    }
    
    .services__gallery-picture:nth-child(6) {
      grid-row: 29 / 40;
      grid-column: 19 / 30;
    }
    
    .services__gallery-picture:nth-child(6) .services__img-title {
      left: 130px;
    } */


    
    
    
    .services__img-border-black {      
      width: 108px;
      height: 108px;
      top: 15px;
      left: 13px;      
    }
    
    .services__img-border-grey {      
      width: 108px;
      height: 108x;
      top: 13px;
      left: 13px;     
    }
    
    .services__img-title {
      
      bottom: 28px;
      
      font-size: 30px;
     
    }

    .services__bg-word {
      display: none;
    }
/*     
    .services__bg-word {
      position: absolute;
      font-family: Tradesmith;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 120%;
      color: rgba(28, 30, 46, 0.09);
      z-index: -1;
    } */
    
    .services__bg-hamon {
      left: 754px;
      bottom: 289px;
    }
    
    .services__bg-felt {
      right: 131px;
      bottom: -48px;
    }
    
    /* team */
    .our-team {
      margin-top: 230px;
      padding: 60px 0 20px;
      background-color: #1d1d1f;
    }
    .our-team__title {
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: #fff;
    }
    
    .our-team .team-slider {
      margin-top: 55px;
    }
    
    .our-team__swiper-wrap {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
    
    .our-team__character-wrap {
      width: 370px;
      height: 321px;
      border: 4px solid #ffc11e;
      position: relative;
      background-color: transparent;
    }
    
    .our-team__character-img {
      position: absolute;
      display: block;
      top: -4px;
      left: -2px;
      bottom: -3px;
      z-index: 1;
    }
    
    .our-team__character-name {
      position: absolute;
      top: 20px;
      left: 168px;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: #fff;
      text-shadow: 2px 2px 0px #d2aa1b;
      z-index: 2;
    }
    
    .our-team__character-job {
      position: absolute;
      bottom: 3px;
      left: 196px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: #ffc11e;
      text-shadow: 0.5px 2px 0px #1d1d1f;
      z-index: 2;
    }
    
    .our-team .teamSwiper {
      padding-bottom: 30px;
    }
    
    .our-team .teamSwiper-pagination {
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      margin-top: 80px;
      position: static;
    }
    
    .teamSwiper-pagination .swiper-pagination-bullet + .teamSwiper-pagination .swiper-pagination-bullet {
      margin-right: 40px;
    }
    
    .our-team .swiper-pagination-bullet {
      width: 120px;
      height: 70px;
      border-radius: 0;
      border: 2px solid #ffffff;
      background-color: transparent;
      color: #fff;
      text-align: center;
      line-height: 70px;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      letter-spacing: 0.05em;
      position: relative;
      opacity: 1;
    }
    
    .our-team .swiper-pagination-bullet:hover {
      background-color: #D2AA1B;
      color: #000;
    }
    
    .our-team .swiper-pagination-bullet::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 0px;
      bottom: -5px;
      right: -4px;
      border: 2px solid #d2aa1b;
      z-index: -5;
    }
    
    .our-team .swiper-pagination-bullet-active {
      box-shadow: 0px 4px 10px 2px #d2aa1b, inset 0px 4px 10px 2px #d2aa1b;
    }
    
    .our-team .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 40px;
    }
    
    /* gallery */
    .gallery {
      margin-top: 150px;
    }
    
    .gallery__interiers {
      display: grid;
      grid-template-rows: repeat(75, 20px);
      grid-template-columns: repeat(1117, 10px);
    }
    
    .gallery__img:nth-child(1) {
      grid-row: 1 / 23;
      grid-column: 1 / 38;
    }
    
    .gallery__img:nth-child(2) {
      grid-row: 1 / 13;
      grid-column: 41 / 65;
    }
    
    .gallery__img:nth-child(3) {
      grid-row: 1 / 13;
      grid-column: 71 / 118;
    }
    
    .gallery__img:nth-child(4) {
      grid-row: 24 / 40;
      grid-column: 1 / 38;
    }
    
    .gallery__img:nth-child(5) {
      grid-row: 14 / 40;
      grid-column: 41 / 65;
    }
    
    .gallery__img:nth-child(6) {
      grid-row: 14 / 40;
      grid-column: 71 / 118;
    }
    
    .gallery__img:nth-child(7) {
      grid-row: 41 / 58;
      grid-column: 1 / 58;
    }
    
    .gallery__img:nth-child(8) {
      grid-row: 41 / 58;
      grid-column: 61 / 118;
    }
    
    .gallery__img:nth-child(9) {
      grid-row: 59 / 76;
      grid-column: 1 / 118;
    }
    
    /* social links */
    .social-links {
      margin-top: 100px;
    }
    
    .social-links__item + .social-links__item {
      margin-top: 26px;
    }
    
    svg + .social-links__link-span {
      margin-left: 30px;
    }
    
    .social-links__link svg {
      stroke: #ccc;
      fill: #ccc;
    }
    
    .social-links__link:hover svg {
      stroke: #ffc11e;
      fill: #ffc11e;
    }
    
    .social-links__link:hover .social-links__link-span {
      color: #ffc11e;
    }
    
    .social-links__link-span {
      font-family: Tradesmith;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 120%;
      color: rgba(0, 0, 0, 0.25);
    }
    
    /* form & background */
    .book-now {
      margin-top: 150px;
      overflow-x: hidden;
    }
    
    /* .book-now__container {
      overflow-x: hidden;
    } */
    
    .book-form-bg-wrapper {
      display: flex;
    }
    
    .book-now__title {
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: #1d1d1f;
    }
    
    .book-now__form {
      margin: 16px 0 0 100px;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 570px;
      flex-shrink: 0;
    }
    
    .book-now__form input {
      margin-bottom: 20px;
      height: 60px;
      padding-left: 24px;
    }
    
    .book-now__form input::-webkit-input-placeholder {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
    }
    
    .book-now__form input::-moz-placeholder {
      opacity: 1;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
    }
    
    .book-now__form input::placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
    }
    
    .book-now__form textarea::-webkit-input-placeholder {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
    }
    
    .book-now__form textarea::-moz-placeholder {
      opacity: 1;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
    }
    
    .book-now__form input:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    
    .book-now__form input:focus::-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    
    .book-now__form textarea:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    
    .book-now__form textarea:focus::-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    
    .book-now__form .book-now__input-text {
      width: 100%;
    }
    
    .book-now__form .book-now__sex {
      width: 170px;
    }
    
    .radiobutton-sex {
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
    }
    
    .radiobutton-sex_span {
      display: block;
      min-height: 60px;
      min-width: 170px;
      text-align: center;
      line-height: 60px;
      font-family: SairaExtraCondensed;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      color: #ccc;
      border: 1px solid #000;    
    }
    
    .radiobutton-sex:checked + .radiobutton-sex_span {
      background-color: #FFC11E;
      border: 1px solid #FFC11E;
      color: #fff;
    }
    
    .book-now__form .book-now__textarea {
      width: 100%;
      height: 220px;
      margin-top: 20px;
      resize: none;
      padding-left: 24px;
      padding-top: 12px;
    }
    
    .book-now__bg-word {
      font-family: Tradesmith;
      font-style: normal;
      font-weight: normal;
      font-size: 170px;
      line-height: 120%;
      letter-spacing: 0.1em;
      color: rgba(0, 0, 0, 0.13);
    }
    
    .book-now__form input:hover::placeholder,
    .book-now__form textarea:hover::placeholder,
    .radiobutton-sex_span:hover {
      color: #000;
      transition: color 0.3s ease;
    }
    
    .book-now__bg-text {
      margin-left: 30px;
      padding-top: 50px;
      width: 830px;
      position: relative;
      flex-shrink: 0;
      overflow-x: hidden;  
    }
    
    .book-now__bg-word {
      position: absolute;
      text-align: center;
      padding-left: 150px;
    }
    
    .book-now__img {
      position: absolute;
      bottom: 80px;
      left: 0;
    }
    
    /* comments */
    .comments {
      margin-top: 150px;
      width: 100%;
    }
    
    .comments__container {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 30px;
    }
    
    .comments__wrapper {
      height: 400px;
      width: 370px;
      padding: 35px 30px;
      border: 3px solid #676767;
    }
    
    .comment__author {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #1D1D1F;
    }
    
    .comment__text {
      margin-top: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: #676767;
    }
    
    /* phrase */
    .phrase {
      margin-top: 100px;
    }
    
    .phrase-text {
      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 120%;  
      letter-spacing: 0.05em;
      color: #1D1D1F;
      text-align: center;
    }
  
  
  }
  


