.main-services {
  font-style: normal;
  color: #1D1D1F;
  line-height: 120%;
  letter-spacing: 0.05em;
  padding-bottom: 200px;
}

.services-list {
  margin-top: 125px;
}

.services-list-container {
  display: flex;
}

.service-item {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 400px 185px 185px;
}

.service-item:first-child {
  margin-top: 0;
}

.service-high-level__title {
  font-weight: 400;
  font-size: 45px;
}

.service__sex {
  font-weight: 200;
  font-size: 40px;
}

.service-low-level__title {
  margin-top: 45px;
  font-weight: 400;
  font-size: 30px;
  margin-left: 100px;
}

.service-price {
  font-size: 35px;
  align-self: flex-end;
}

.list-images {
  width: 100%;
  position: relative;
}

.service-image {
  position: absolute;
  left: 0;
}

.service-image:nth-child(1) {
  top: 15%;
}

.service-image:nth-child(2) {
  top: 60%;
}

.service-button {
  width: 362px;
  height: 117px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFC11E;
  font-weight: bold;
  font-size: 55px; 
  color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #FFC11E;
  cursor: pointer;
}

.service-button:focus {
  border: 1px solid #000;
  color: #000;
}

.face-analyze {
  margin-top: 150px;
}

.face-analyze__welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  width: 950px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1D1D1F;
  margin: 0 auto;
}

.face-analyzes__list {
  margin-top: 150px;
  width: 100%;
  line-height: 120%;
}

.face-analyzes__item {  
  position: relative;
  height: 300px;
}

.face-text-wrapper {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.face-analyze__image {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  box-shadow: -3px -4px #d2aa1b, 2px 4px #000;
}

.face-analyzes__item + .face-analyzes__item {
  margin-top: 180px;
}

.face-analyze__title {
  width: 362px;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
}

.face-analyze__text {
  width: 460px;
  font-size: 40px; 
  color: rgba(29, 29, 31, 0.7);
  line-height: 120%;
}



/* ------------------------------------------------------------------------------------ */

  @media (max-width: 1169px) {

    .main-services {
      padding-bottom: 150px;
    }

    .services-list {
      padding: 0;
    }

    .services-list-container {
      padding: 0 24px;
      display: block;
    }

    .service-item {
      grid-template-columns: 345px 155px 155px;
    }

    .services-list {
      margin-top: 100px;
    }

    .service-low-level__title {
      margin-left: 90px;
    }

    .list-images {
      display: none;
    }    

    .face-analyze {
      margin-top: 80px;
    }

    .face-analyze-container {
      padding: 0 24px;
    }

    .face-analyze__welcome {      
      font-size: 35px;      
      width: 470px;
      text-align: center;     
      margin: 0 auto;
    }

    .face-analyzes__list {
      margin-top: 80px;
      padding-right: 5px;
    }

    .face-analyzes__item {
      display: flex;
      justify-content: space-between;
      height: 240px;
    }
    
    .face-text-wrapper {
      display: block;
      width: 470px;
      height: auto;
    }
    
    .face-analyze__image {
      position: static;
      width: 220px;
      height: 240px;    
    }

    .face-analyze__title {
      width: 100%;
      font-size: 40px;
    }

    .face-analyze__text {
      width: 100%;
      margin-top: 15px;
      font-size: 25px;
    }

    .face-analyzes__item + .face-analyzes__item {
      margin-top: 100px;
    }
    
  }
  
  
  /* ------------------------------------------------------------------------------------ */
  
  @media (max-width: 767px) {
  
    .main-services {
      padding-bottom: 30px;
    }

    .services-list {
      margin-top: 50px;
    }

    .services-list-container {
      padding-left: 15px;
    }

    .list-wrapper {
      margin: 0 auto;
    }

    .service-item {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 140px 90px 60px;
    }

    .service-high-level__title {
      font-size: 30px;
    }

    .service-low-level__title {
      margin-left: 0;
    }

    .service-low-level__title ~ .service-low-level__title {
      margin-top: 30px;
    }

    .service__sex {
      font-size: 25px;
    }

    .service-low-level__title {
      font-size: 20px;
      margin-top: 15px;
    }

    .service-low-level__title ~ .service-low-level__title {
      margin-top: 20px;
    }

    .service-price {
      font-size: 20px;
    }

    .face-analyze {
      margin-top: 50px;
    }

    .face-analyze-container {
      padding: 0 15px;
    }

    .face-analyze__welcome {      
      font-size: 25px;      
      width:100%;
      text-align: center;     
    }

    .face-analyzes__list {
      margin-top: 50px;
    }

    .face-analyzes__item {
      flex-direction: column;
      height: auto;
    }
  
    .face-text-wrapper {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .face-analyze__image {
      width: 135px;
      height: 145px;
      margin-top: 15px;
    }

    .face-analyze__title {
      width: 100%;
      font-size: 25px;
    }

    .face-analyze__text {
      width: 100%;
      font-size: 15px;
      margin-top: 5px;
    }

    .face-analyzes__item + .face-analyzes__item {
      margin-top: 50px;
    }
   
  
  }
  